Importando o dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = np.loadtxt(r"C:\Users\lanna\Downloads\space.csv", delimiter=';', dtype = str, encoding = 'utf-8')

In [4]:
data = pd.DataFrame(dataset)
data.head()

,0,1,2,3,4,5,6,7
0,﻿Num,Company Name,Location,Datum,Detail,Status Rocket,Cost,Status Mission
1,0,SpaceX,LC-39A Kennedy Space Center Florida USA,Fri Aug 07 2020 05:12 UTC,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
2,1,CASC,Site 9401 (SLS-2) Jiuquan Satellite Launch Cen...,Thu Aug 06 2020 04:01 UTC,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
3,2,SpaceX,Pad A Boca Chica Texas USA,Tue Aug 04 2020 23:57 UTC,Starship Prototype | 150 Meter Hop,StatusActive,0,Success
4,3,Roscosmos,Site 200/39 Baikonur Cosmodrome Kazakhstan,Thu Jul 30 2020 21:25 UTC,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success

In [6]:
print(dataset)

[['\ufeffNum' 'Company Name' 'Location' ... 'Status Rocket' ' Cost'
  'Status Mission']
 ['0' 'SpaceX' 'LC-39A Kennedy Space Center Florida USA' ...
  'StatusActive' '50.0 ' 'Success']
 ['1' 'CASC' 'Site 9401 (SLS-2) Jiuquan Satellite Launch Center China'
  ... 'StatusActive' '29.75 ' 'Success']
 ...
 ['4321' 'US Navy' 'LC-18A Cape Canaveral AFS Florida USA' ...
  'StatusRetired' '0' 'Failure']
 ['4322' 'RVSN USSR' 'Site 1/5 Baikonur Cosmodrome Kazakhstan' ...
  'StatusRetired' '0' 'Success']
 ['4323' 'RVSN USSR' 'Site 1/5 Baikonur Cosmodrome Kazakhstan' ...
  'StatusRetired' '0' 'Success']]

# Exercício 1

Porcentagem das missões que deram certo

In [6]:
#As missões que deram certo estão determinadas como "Success" na coluna "Status Mission"
#Número de ocorrências de Success/número de linhas no dataset

#encontrar a string "Success"
array = np.char.find(dataset, "Success")

#contar ocorrências
success = array[array!=-1]
#print(success)
#print(len(success))

#dividir essas ocorrências pelo número de linhas totais no dataset
print("Porcentagem de missões que deram certo: ", "{:.2f}".format((len(success)/(len(dataset)-1))*100 ), "%.")

Porcentagem de missões que deram certo:  89.71 %.

In [5]:
# Suponha que "Status Mission" esteja na terceira coluna (índice 2) após verificar os cabeçalhos
status_col_index = 7  # Atualize se necessário

# Se a primeira linha for cabeçalho, excluímos ela usando dataset[1:]
status_missions = dataset[1:, status_col_index] if dataset[0, status_col_index] == "Status Mission" else dataset[:, status_col_index]

# Contar quantas missões deram certo
success_count = np.count_nonzero(status_missions == "Success")
total_count = len(status_missions)

# Exibir o resultado formatado
print("Porcentagem de missões que deram certo: {:.2f}%".format((success_count / total_count) * 100))

Porcentagem de missões que deram certo: 89.71%

# Exercício 2

média de gastos

In [7]:
#somar todos os gastos das missões
#Acessar a penúltima coluna e fazer a soma
mtz = dataset[1:,-2] #acesso aos valores da penúltima coluna
mtz = mtz.astype(float) #conversão para float
new_mtz = mtz[mtz>0] #acesso aos valores não nulos

#média de gastos
print("Média de gastos de uma missão espacial: R$", "{:.2f}.".format(new_mtz.mean()))

Média de gastos de uma missão espacial: R$ 153.79.

# Exercício 3

Quantas missões foram feitas pelos Estados Unidos

In [8]:
#Encontrar substring (USA) e contar
arr = np.char.find(dataset, "USA")
usa = arr[arr!=-1]
print(len(usa), "missões foram feitas pelos Estados Unidos.")

1393 missões foram feitas pelos Estados Unidos.

In [11]:
#Encontrar substring (USA) e contar
arr = np.char.count(dataset, "USA")
usa = arr[arr!=0]
print(len(usa), "missões foram feitas pelos Estados Unidos.")

1393 missões foram feitas pelos Estados Unidos.

# Exercício 4

Missão mais cara da SpaceX

In [10]:
#Encontrar substring "SpaceX"
array4 = np.char.find(dataset, "SpaceX")
listt = []

for i in range(len(array4)):
  if array4[i,1] != -1:
    new_dict = {'index': i, 'value': dataset[i, -2]}
    listt.append(new_dict)

#correr pela lista buscando o maior valor
max_value = max(listt, key=lambda x: x['value'])
#print(max_value['value'])
#print(max_value['index'])


print("A missão mais cara da SpaceX é:", dataset[max_value['index'],:])

A missão mais cara da SpaceX é: ['129' 'SpaceX' 'LC-39A Kennedy Space Center Florida USA'
 'Tue Jun 25 2019 06:30 UTC' 'Falcon Heavy | STP-2' 'StatusActive' '90.0 '
 'Success']

In [13]:
import numpy as np

# Suponha que a coluna com os nomes das empresas seja a 3ª (índice 2)
company_col_index = 1  
cost_col_index = -2  # Penúltima coluna contém os custos das missões

# Remover cabeçalho e selecionar a coluna das empresas
companies = dataset[1:, company_col_index]
costs = dataset[1:, cost_col_index]

# Criar lista de dicionários apenas para missões da SpaceX
listt = []

for i in range(len(companies)):
    if companies[i] == "SpaceX":  # Busca exata, sem substrings
        try:
            # Remover caracteres indesejados e converter para float
            clean_cost = costs[i].replace("$", "").replace(",", "").strip()
            cost_value = float(clean_cost)
            
            # Adicionar à lista
            listt.append({'index': i + 1, 'value': cost_value})  # +1 para compensar cabeçalho removido

        except ValueError:
            # Caso tenha valores não numéricos, apenas ignore
            continue

# Encontrar a missão mais cara
if listt:
    max_value = max(listt, key=lambda x: x['value'])
    print("A missão mais cara da SpaceX é:", dataset[max_value['index'], :])
else:
    print("Nenhuma missão válida da SpaceX encontrada.")

A missão mais cara da SpaceX é: ['129' 'SpaceX' 'LC-39A Kennedy Space Center Florida USA'
 'Tue Jun 25 2019 06:30 UTC' 'Falcon Heavy | STP-2' 'StatusActive' '90.0 '
 'Success']

# Exercício 5

Nome das empresas + o número de missões que fizeram

In [15]:
elements, counts = np.unique(dataset[1:,1], return_counts = True)
#print(elements)
#print(counts)

for i in range(len(elements)):
    print(elements[i], ":", counts[i])

AEB : 3
AMBA : 8
ASI : 9
Arianespace : 279
Arm??e de l'Air : 4
Blue Origin : 12
Boeing : 136
CASC : 251
CASIC : 5
CECLES : 4
CNES : 8
Douglas : 1
EER : 1
ESA : 13
Eurockot : 13
ExPace : 10
Exos : 4
General Dynamics : 251
IAI : 11
ILS : 46
IRGC : 1
ISA : 13
ISAS : 30
ISRO : 76
JAXA : 7
KARI : 3
KCST : 5
Khrunichev : 1
Kosmotras : 22
Land Launch : 7
Landspace : 1
Lockheed : 79
MHI : 84
MITT : 7
Martin Marietta : 114
NASA : 203
Northrop : 83
OKB-586 : 2
OneSpace : 1
RAE : 2
RVSN USSR : 1777
Rocket Lab : 13
Roscosmos : 55
SRC : 3
Sandia : 1
Sea Launch : 36
SpaceX : 100
Starsem : 1
ULA : 140
US Air Force : 161
US Navy : 17
UT : 5
VKS RF : 201
Virgin Orbit : 1
Yuzhmash : 2
i-Space : 1

In [43]:
#varrer o dataset com base na coluna 1 (company name) pulando a primeira linha
#recortar apenas a coluna 1
analysis = dataset[1:,1]
#print(analysis)
list_companies = []

#analisar se o nome é diferente de algum já presente na lista de dicionários
for i in range(len(analysis)):

  #se a lista de empresas está vazia
  if list_companies == []:
    #adicionar a primeira empresa e contabilizar uma missão
    new_dict = {'name': analysis[i], 'missions': 1}
    list_companies.append(new_dict)

  #Se há empresas já contabilizadas
  else:
    #varrer a lista de empresas e comparar com a nova informação
    exists = False
    for j in range(len(list_companies)):
      if analysis[i] == list_companies[j]['name']:
        #caso seja igual, adicionar +1 no número de missões
        list_companies[j]['missions'] += 1
        exists = True
        break
    if not exists:
      #caso seja diferente, gerar uma nova posição na lista
      new_dict = {'name': analysis[i], 'missions': 1}
      list_companies.append(new_dict)

#print(list_companies)

#print no nome da empresa e número de missões com base na chave e valor dos dicionários na lista
for i in range(len(list_companies)):
  print(list_companies[i]['name'], ":", list_companies[i]['missions'], "missões")

SpaceX : 100 missões
CASC : 251 missões
Roscosmos : 55 missões
ULA : 140 missões
JAXA : 7 missões
Northrop : 83 missões
ExPace : 10 missões
IAI : 11 missões
Rocket Lab : 13 missões
Virgin Orbit : 1 missões
VKS RF : 201 missões
MHI : 84 missões
IRGC : 1 missões
Arianespace : 279 missões
ISA : 13 missões
Blue Origin : 12 missões
ISRO : 76 missões
Exos : 4 missões
ILS : 46 missões
i-Space : 1 missões
OneSpace : 1 missões
Landspace : 1 missões
Eurockot : 13 missões
Land Launch : 7 missões
CASIC : 5 missões
KCST : 5 missões
Sandia : 1 missões
Kosmotras : 22 missões
Khrunichev : 1 missões
Sea Launch : 36 missões
KARI : 3 missões
ESA : 13 missões
NASA : 203 missões
Boeing : 136 missões
ISAS : 30 missões
SRC : 3 missões
MITT : 7 missões
Lockheed : 79 missões
AEB : 3 missões
Starsem : 1 missões
RVSN USSR : 1777 missões
EER : 1 missões
General Dynamics : 251 missões
Martin Marietta : 114 missões
Yuzhmash : 2 missões
Douglas : 1 missões
ASI : 9 missões
US Air Force : 161 missões
CNES : 8 missões
CECLES : 4 missões
RAE : 2 missões
UT : 5 missões
OKB-586 : 2 missões
AMBA : 8 missões
Arm??e de l'Air : 4 missões
US Navy : 17 missões

In [16]:
import numpy as np
from collections import defaultdict

# Índice da coluna que contém os nomes das empresas
company_col_index = 1  

# Remover cabeçalho e acessar apenas a coluna das empresas
companies = dataset[1:, company_col_index]

# Dicionário para contar as missões por empresa
company_missions = defaultdict(int)

print(company_missions)

# Contar missões para cada empresa (normalizando os nomes)
for company in companies:
    company_name = company.strip().lower()  # Remove espaços e padroniza letras minúsculas
    if company_name:  # Ignorar valores vazios
        company_missions[company_name] += 1

# Exibir os resultados
for name, missions in company_missions.items():
    print(name.capitalize(), ":", missions, "missões")

defaultdict(<class 'int'>, {})
Spacex : 100 missões
Casc : 251 missões
Roscosmos : 55 missões
Ula : 140 missões
Jaxa : 7 missões
Northrop : 83 missões
Expace : 10 missões
Iai : 11 missões
Rocket lab : 13 missões
Virgin orbit : 1 missões
Vks rf : 201 missões
Mhi : 84 missões
Irgc : 1 missões
Arianespace : 279 missões
Isa : 13 missões
Blue origin : 12 missões
Isro : 76 missões
Exos : 4 missões
Ils : 46 missões
I-space : 1 missões
Onespace : 1 missões
Landspace : 1 missões
Eurockot : 13 missões
Land launch : 7 missões
Casic : 5 missões
Kcst : 5 missões
Sandia : 1 missões
Kosmotras : 22 missões
Khrunichev : 1 missões
Sea launch : 36 missões
Kari : 3 missões
Esa : 13 missões
Nasa : 203 missões
Boeing : 136 missões
Isas : 30 missões
Src : 3 missões
Mitt : 7 missões
Lockheed : 79 missões
Aeb : 3 missões
Starsem : 1 missões
Rvsn ussr : 1777 missões
Eer : 1 missões
General dynamics : 251 missões
Martin marietta : 114 missões
Yuzhmash : 2 missões
Douglas : 1 missões
Asi : 9 missões
Us air force : 161 missões
Cnes : 8 missões
Cecles : 4 missões
Rae : 2 missões
Ut : 5 missões
Okb-586 : 2 missões
Amba : 8 missões
Arm??e de l'air : 4 missões
Us navy : 17 missões

In [15]:
print(company_missions)

defaultdict(<class 'int'>, {'spacex': 100, 'casc': 251, 'roscosmos': 55, 'ula': 140, 'jaxa': 7, 'northrop': 83, 'expace': 10, 'iai': 11, 'rocket lab': 13, 'virgin orbit': 1, 'vks rf': 201, 'mhi': 84, 'irgc': 1, 'arianespace': 279, 'isa': 13, 'blue origin': 12, 'isro': 76, 'exos': 4, 'ils': 46, 'i-space': 1, 'onespace': 1, 'landspace': 1, 'eurockot': 13, 'land launch': 7, 'casic': 5, 'kcst': 5, 'sandia': 1, 'kosmotras': 22, 'khrunichev': 1, 'sea launch': 36, 'kari': 3, 'esa': 13, 'nasa': 203, 'boeing': 136, 'isas': 30, 'src': 3, 'mitt': 7, 'lockheed': 79, 'aeb': 3, 'starsem': 1, 'rvsn ussr': 1777, 'eer': 1, 'general dynamics': 251, 'martin marietta': 114, 'yuzhmash': 2, 'douglas': 1, 'asi': 9, 'us air force': 161, 'cnes': 8, 'cecles': 4, 'rae': 2, 'ut': 5, 'okb-586': 2, 'amba': 8, "arm??e de l'air": 4, 'us navy': 17})